.button {
    width: 175px;
    height: 48px;
    border: none;
    border-radius: 4px;
    background: linear-gradient(90deg, #B7903B 0%, $main-color 100%);
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    &[disabled] {
        background: rgba(106, 106, 106, 0.3);
         cursor: default;
    }
}